<div class="container">
  <h5>
    This order was made by: <%= @order.user.email %>
  </h5>
  <div class="row mt-5">
    <% @order.materials.each do |material| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= material.title %></h5>
        <p class="card-text">Quantity: <%= material.quantity %></p>
      </div>
    </div>
  <% end %>
  </div>
  
  <br>
  <%= link_to t('back'), orders_path, class: "btn btn-primary" %>
</div>